Repository IP-2025/waves-of-the-fallen, pull requests merged in 2025-06, with the labels that each got.

#317 250 solo mode player joins multiplayer
  Game/Entities/Characters/Base/DefaultPlayer.cs
  Game/Menu/OnlineLocalMenu.cs
  Game/Utilities/GameRoot/GameRoot.cs
  Game/Utilities/Gameflow/Spawn/SpawnEnemies.cs
  Game/Utilities/Gameflow/Waves/WaveTimer.cs
  Game/Utilities/Multiplayer/Client.cs
  Game/Utilities/Multiplayer/NetworkManager.cs
  Game/Weapons/Melee/Dagger/Dagger.cs
  Game/Weapons/Melee/Dagger/dagger.tscn
  Game/Weapons/Melee/DoubleBlades/DoubleBlade.cs
  Game/Weapons/Melee/DoubleBlades/DoubleBlade.tscn
  Game/Weapons/Melee/DoubleBlades/DoubleBladeR.cs
  Game/Weapons/Melee/MasterSword/Sword.cs
  Game/Weapons/Melee/Shared/MeleeWeapon.cs
  Game/Weapons/Ranged/Crossbow/crossbow.tscn
  Game/Weapons/Ranged/MagicStaffs/Firestaff/fireball.tscn
  Game/Weapons/Ranged/MagicStaffs/Firestaff/firestaff.tscn
  Game/Weapons/Ranged/WarHammer/warHammer.tscn
Labels: backend, godot

#360 334 check why the local multiplayer fails and fix it
  Game/Entities/Characters/Base/DefaultPlayer.cs
  Game/Entities/Shared/Health.cs
  Game/Menu/HighscoreList/highscore_screen.tscn
  Game/Menu/LocalMenu.cs
  Game/UI/HUD/HUD.cs
  Game/UI/HUD/HUD.tscn
  Game/Utilities/GameRoot/GameRoot.cs
  Game/Utilities/Multiplayer/Client.cs
  Game/Utilities/Multiplayer/NetworkManager.cs
  Game/Utilities/Multiplayer/Server.cs
  Game/Waves of the fallen.apk.idsig
  Game/project.godot
Labels: defect, backend, godot

#402 399 local multiplayer is broken
  Game/Audio/Manager/sound_manager.tscn
  Game/Audio/Music/MenuBackground/menuBackgroundMusic.tscn
  Game/Entities/Characters/Archer/archer.tscn
  Game/Entities/Characters/Assassin/assassin.tscn
  Game/Entities/Characters/Base/default_player.tscn
  Game/Entities/Characters/Knight/knight.tscn
  Game/Entities/Characters/Mage/mage.tscn
  Game/Entities/Enemies/Base/EnemyBase.cs
  Game/Entities/Enemies/GiantBoss/GiantBossEnemy.tscn
  Game/Entities/Enemies/GiantBoss/stone_Attack.tscn
  Game/Entities/Enemies/Goblin/default_enemy.tscn
  Game/Entities/Enemies/Rider/mounted_enemy.tscn
  Game/Entities/Enemies/Rider/rider_enemy.tscn
  Game/Entities/Enemies/Skeleton/RangedEnemy.cs
  Game/Entities/Enemies/Skeleton/ranged_enemy.tscn
  Game/Entities/Enemies/Skeleton/stone.tscn
  Game/Entities/Shared/Health.cs
  Game/Menu/LocalMenu.cs
  Game/UI/Shop/BossShop/bossShop.tscn
  Game/Utilities/GameRoot/GameRoot.cs
  Game/Utilities/Multiplayer/MultiplayerCleanup.cs
  Game/Utilities/Multiplayer/MultiplayerCleanup.cs.uid
  Game/Utilities/Multiplayer/NetworkManager.cs
  Game/Weapons/Melee/Dagger/dagger.tscn
  Game/Weapons/Melee/DoubleBlades/DoubleBlade.tscn
  Game/Weapons/Melee/MasterSword/Sword.tscn
  Game/Weapons/Ranged/Bow/bow.tscn
  Game/Weapons/Ranged/Bow/bow_arrow.tscn
  Game/Weapons/Ranged/Crossbow/crossbow.tscn
  Game/Weapons/Ranged/Crossbow/crossbow_arrow.tscn
  Game/Weapons/Ranged/Kunai/kunai.tscn
  Game/Weapons/Ranged/Kunai/kunai_projectile.tscn
  Game/Weapons/Ranged/MagicStaffs/Firestaff/fireball.tscn
  Game/Weapons/Ranged/MagicStaffs/Firestaff/firestaff.tscn
  Game/Weapons/Ranged/MagicStaffs/Healsftaff/healstaff.tscn
  Game/Weapons/Ranged/MagicStaffs/Lightningstaff/lightning.tscn
  Game/Weapons/Ranged/MagicStaffs/Lightningstaff/lightningstaff.tscn
  Game/Weapons/Ranged/WarHammer/hammerProjectile.tscn
  Game/Weapons/Ranged/WarHammer/warHammer.tscn
  Game/Weapons/Utility/MedicineBag/medicine.tscn
  Game/Weapons/Utility/MedicineBag/medicineBag.tscn
  Game/project.godot
Labels: defect, godot

#432 279 weapon scaling
  Game/Entities/Characters/Archer/Archer.cs
  Game/Entities/Characters/Archer/archer.tscn
  Game/Entities/Characters/Assassin/Assassin.cs
  Game/Entities/Characters/Base/DefaultPlayer.cs
  Game/Entities/Characters/Knight/Knight.cs
  Game/Entities/Characters/Mage/Mage.cs
  Game/Entities/Characters/Util/Manager/CharacterManager.cs
  Game/Entities/Enemies/GiantBoss/GiantBossEnemy.tscn
  Game/Entities/Shared/Health.cs
  Game/Menu/Character/Charactermenu.cs
  Game/Menu/Character/characterMenu.tscn
  Game/Menu/LocalMenu.cs
  Game/Menu/Settings/SettingsMenu.cs
  Game/UI/Shop/BossShop/BossShop.cs
  Game/UI/Shop/BossShop/bossShop.tscn
  Game/Utilities/GameRoot/GameRoot.cs
  Game/Utilities/Gameflow/Spawn/SpawnEnemies.cs
  Game/Utilities/Multiplayer/NetworkManager.cs
  Game/Utilities/Multiplayer/PlayerCharacterData.cs
  Game/Weapons/Melee/Dagger/Dagger.cs
  Game/Weapons/Melee/DoubleBlades/DoubleBlade.cs
  Game/Weapons/Melee/DoubleBlades/DoubleBladeL.cs
  Game/Weapons/Melee/DoubleBlades/DoubleBladeR.cs
  Game/Weapons/Melee/MasterSword/Sword.cs
  Game/Weapons/Melee/Shared/MeleeWeapon.cs
  Game/Weapons/Ranged/Base/Projectile.cs
  Game/Weapons/Ranged/Base/RangedWeapons.cs
  Game/Weapons/Ranged/Bow/Bow.cs
  Game/Weapons/Ranged/Bow/BowArrow.cs
  Game/Weapons/Ranged/Crossbow/Crossbow.cs
  Game/Weapons/Ranged/Crossbow/CrossbowArrow.cs
  Game/Weapons/Ranged/Kunai/Kunai.cs
  Game/Weapons/Ranged/Kunai/KunaiProjectile.cs
  Game/Weapons/Ranged/MagicStaffs/Firestaff/FireBall.cs
  Game/Weapons/Ranged/MagicStaffs/Firestaff/FireStaff.cs
  Game/Weapons/Ranged/MagicStaffs/Healsftaff/Healstaff.cs
  Game/Weapons/Ranged/MagicStaffs/Lightningstaff/Lightning.cs
  Game/Weapons/Ranged/MagicStaffs/Lightningstaff/Lightningstaff.cs
  Game/Weapons/Ranged/WarHammer/HammerProjectile.cs
  Game/Weapons/Ranged/WarHammer/WarHammer.cs
  Game/Weapons/Utility/MedicineBag/Medicine.cs
  Game/Weapons/Utility/MedicineBag/MedicineBag.cs
  backend/src/database/entities/Character.ts
  backend/src/services/characterService.ts
  backend/test/services/characterService.test.ts
Labels: feature, godot
